# out Folder for Plugin
/out/*

# Compiled class file
# Log file
# BlueJ files
# Mobile Tools for Java (J2ME)
# Package Files #
*.jar
*.zip
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
